vektor/output/html/.DS_Store
vektor/.DS_Store
vektor/internal/.DS_Store
vektor/output/.DS_Store
vektor/output/docx/.DS_Store
vektor/output/pdf/.DS_Store
vektor/source/.DS_Store
vektor/source/screenshots/.DS_Store
vektor/word/.DS_Store
website/.DS_Store
website/pages/.DS_Store
website/pages/css/.DS_Store
website/pages/js/.DS_Store
.DS_Store
vektor/.DS_Store
.DS_Store
